<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/style.css">
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/root.css">
    <link rel="shortcut icon" href="/src/main/resources/static/assets/img/logo.webp" type="image/x-icon">

    <title>CineTime</title>
</head>



<body>
    <header>
        <div class="logo">
            <img src="/src/main/resources/static/assets/img/logo.webp" alt="CineTime-logo">
            <h1>Cine</h1>
            <h1 class="roxo">Time</h1>
        </div>
        <nav class="nav-list">
            <ul>
                <li><a href="login.html">Login</a></li>
                <li>|</li>
                <li><a href="cadastro.html">Cadastre-se</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="fundo">
            <div class="fundo-blur"></div>
            <h1>Crie sua lista, avalie seus favoritos e <br> descubra o melhor do cinema na <br> CineTime. Faça Login ou
            Cadastre-se para <br> um mundo de possibilidades!</h1>
        </div>
        <img src="/src/main/resources/static/assets/img/undraw_movie-night_pkvp.svg" alt="imagem-home">
    </main>
</body>

</html>